/* You can add global styles to this file, and also import other style files */
html {
  font-size: 14px;
}

body {
  font-family: var(--font-family);
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* projects/host-app/src/styles.css */

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.p-menubar {
  padding: 0.5rem 2rem;
  background-color: #2563eb;
  color: white;
  border: none;
}

.p-menubar .p-menuitem-link {
  color: white !important;
}

.p-menubar .p-menuitem-link:hover {
  background-color: #3b82f6 !important;
}
